Options +FollowSymLinks
IndexIgnore */*
# Turn on the RewriteEngine
# Redirect 404 /favicon.ico
RewriteEngine On
RewriteBase /
DirectoryIndex index.php
#  Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]